ACR_LOGIN_SERVER=esmosprodacr.azurecr.io
STAGING_IP=<YOUR_STAGING_IP>
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo_esmos_2026
ODOO_MASTER_PASSWORD=214Odoo
MOODLE_DB_USER=moodle
MOODLE_DB_PASSWORD=moodle_esmos_2026
MOODLE_DB_ROOT_PASSWORD=root_esmos_2026
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=Admin123!
